@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  background-image: linear-gradient(0deg,#0f051d 30%,#130749 70%);
}

.hero{
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.form{
  background: linear-gradient(25deg, #2600fc, #ff00ea);
}

.market{
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  -webkit-background-clip: text;
  color: transparent;
}

.nav{
  background-color: #130749 
}

.button-clr{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

